@(adminWsUrl: String)

@baseIndex("home") {
    @bs.rowColumn("col-md-12") {
        @util.div("page-header") {
            <h1>Admin <small class="pull-right" id="status">Initializing...</small></h1>
        }
    }
    @tableContainer("Streams", "requestsTable", "Cloud ID", "Request ID", "Track", "Artist", "Bytes")
    @tableContainer("Phones", "phonesTable", "Cloud ID", "Phone Address")
    @tableContainer("Servers", "serversTable", "Cloud ID", "Server Address")
}
<script src="@routes.Assets.at("frontend-fastopt.js")"></script>
<script src="@routes.Assets.at("frontend-launcher.js")"></script>

@tableContainer(header: String, bodyID: String, headers: String*) = {
    <h2>@header</h2>
    @bs.rowColumn("col-md-12") {
        @util.table(bodyID, headers: _*)
    }
}
