@(tabName: String)(content: Html)
@import views.html.util._
@basePage("MusicPimp") {
    @div("navbar navbar-default") {
        @div("container") {
            @div("navbar-header") {
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.UsageStreaming.index()">MusicPimp</a>
            }
            @div("navbar-collapse collapse") {
                <ul class="nav navbar-nav">
                    @bs.navItem("Home", "home", tabName, routes.UsageStreaming.index(), "home")
                    @bs.navItem("Logs", "logs", tabName, routes.Logs.logs(), "list")
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@routes.Logs.logout()">Logout</a></li>
                </ul>
            }
        }
    }
    @div("container")(content)
}