@(loginForm: Form[com.malliina.pimpcloud.CloudCredentials], web: Web, flash: Flash, motd: Option[String] = None)

@basePage(title = "Welcome") {
    @util.css2("login.css")
    @util.div("container") {
        @bs.rowColumn("col-md-4") {
            @flash.get(web.forms.feedback).map { message =>
                <p class="lead">@message</p>
            }
        }
        @bs.rowColumn("col-md-3") {
            <form class="form-signin" name="loginForm" action="@routes.Web.formAuthenticate()" method="POST">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="text" class="form-control" name="@web.serverFormKey" id="@web.serverFormKey" placeholder="Server" autofocus>
                <input type="text" class="form-control" name="@web.forms.userFormKey" id="@web.forms.userFormKey" placeholder="Username">
                <input type="password" class="form-control" name="@web.forms.passFormKey" id="@web.forms.passFormKey" placeholder="Password">
                <button type="submit" id="loginbutton" class="btn btn-lg btn-primary btn-block">Sign in</button>
            </form>
        }
        @bs.rowColumn("col-md-3") {
            @loginForm.globalError.map { error =>
                <div class="alert alert-warning form-signin" role="alert">@error.message</div>
            }
        }
        @bs.rowColumn("col-md-3 form-signin") {
            @motd.map { message =>
                <p>@message</p>
            }
        }
    }

}
