@(loginForm: Form[com.mle.pimpcloud.CloudCredentials], web: Web, motd: Option[String] = None)(implicit flash: Flash)

@basePage(title = "Welcome") {
    @util.css2("login.css")
    @util.div("container") {
        @bs.rowColumn("col-md-4") {
            @flash.get(web.FEEDBACK).map { message =>
                <p class="lead">@message</p>
            }
        }
        @bs.rowColumn("col-md-3") {
            <form class="form-signin" name="loginForm" action="@routes.Web.formAuthenticate()" method="POST">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="text" class="form-control" name="@web.serverFormKey" id="@web.serverFormKey" placeholder="Server" autofocus>
                <input type="text" class="form-control" name="@web.userFormKey" id="@web.userFormKey" placeholder="Username" autofocus>
                <input type="password" class="form-control" name="@web.passFormKey" id="@web.passFormKey" placeholder="Password">
                <button type="submit" id="loginbutton" class="btn btn-lg btn-primary btn-block">Sign in</button>
            </form>
        }
        @bs.rowColumn("col-md-3") {
            @loginForm.globalError.map { error =>
                <div class="alert alert-warning form-signin" role="alert">@error.message</div>
            }
        }
        @bs.rowColumn("col-md-3 form-signin") {
            @motd.map { message =>
                <p>@message</p>
            }
        }
    }
    <script type="text/javascript" charset="utf-8">
    $ ( function () { document.loginForm.username.focus(); } ) ;
    </script>
}
